*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.search{
    display: flex;
    box-shadow: 0px 0px 3px black;
    padding: 10px;
}

.search input{
    border: none;
    border-radius: 9px;
    width: 90%;
    height: 40px;
    background-color: #e4e3e3;
    padding: 0px 10px;
}
.search input:focus{
    border: none;
}
.search i{
    margin: 4px 10px;
    font-size: 35px;
    color: #393e46;
}

.contactlist{
    display: grid;
    width: 100%;
    margin: 0px auto;
    font-size: 32px;
}
span{
    color:green;
}
.contactlist div{
    font-size: 43px;
}
.add-contact{
    box-shadow: 0px 0px 3px black;
    padding: 20px;
    width: 100%;
    position: sticky;
    bottom: 0px;
    background-color: rgba(22, 18, 12, 0.856);
    color: white;
}

h2{
    color: black;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 30px;
    display: flex;
    align-items: center;


}

h3{
    color: rgba(0, 0, 0, 0.815);
    font-weight: normal;
    font-family: monospace;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.addpeople input {
    border: none;
    border-radius: 9px;
    margin: 10px;
    width: 90%;
    height: 40px;
    background-color: #e4e3e3;
    padding: 0px 10px;
}
.addpeople button{
    border: none;
    padding :5px 20px;
    margin: 0px 10px;
    border-radius: 20px;
    color: white;
    background-color: rgb(10, 119, 10);
    font-weight: bold;
}